{% set img_src = content.field_image.0['#item'].entity.uri.value %}
{% set img_alt = content.field_image.0['#item'].alt %}
{% set img_width = content.field_image.0['#item'].width %}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% 
    set ResponsiveImageStyle ={
        '#theme': 'responsive_image',
        '#responsive_image_style_id': 'kim_nails',
        '#uri': img_src,
        '#attributes': { class: img_width >500 ? 'img-fluid', alt: img_alt },
    } 
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
		<h1 class="text-center">{{content.field_title.0}}</h1>
		<div class="{{img_width <= 300 and img_width > 100 ? 'd-flex'}}">
			{% if content.field_image.0 %}
					<div class="img-info" style="width:{{img_width <= 300 and img_width > 100 ? img_width ~ 'px' : '100%'}}">
						{{ResponsiveImageStyle}}
						<figcaption><em>{{ content.field_detail.0}}</em></figcaption>
					</div>
				{% endif %}
			<div class="text-center mt-20 mr-20">{{content.field_body.0}}</div>
		</div>
    {% endblock %}
{% endblock paragraph %}